@model DAL.Models.Domain.Training.LIPTrainingDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LIPTrainingDetail</h4>
    <hr />
    <dl class="row">     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSCRanking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSCRanking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LIPNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LIPNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.CNIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LIPTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LIPTraining.LIPTrainingId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LIPTrainingDetailId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
