@model IEnumerable<DAL.Models.Domain.Training.LIPTrainingDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.PSCRanking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIPNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LIPTraining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>          
            <td>
                @Html.DisplayFor(modelItem => item.PSCRanking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LIPNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.CNIC)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.LIPTraining.LIPTrainingId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LIPTrainingDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LIPTrainingDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LIPTrainingDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
