@model DAL.Models.ViewModels.HTSMember

@{
    ViewData["Title"] = "Create";
    ViewBag.pageTitle = "Business";
    ViewBag.Title = "HTS";
    ViewBag.pTitle = "HTS";

    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@{
    var gender = new[]
         {   new SelectListItem { Text = "Male", Value = "Male" },
              new SelectListItem { Text = "Female", Value = "Female" },
            };
    var MaritalStatus = new[]
        {   new SelectListItem { Text = "Yes", Value = "Yes" },
              new SelectListItem { Text = "No", Value = "No" },
    };
    var TunnelSize = new[]
         {   new SelectListItem { Text = "11000 Sqft", Value = "11000 Sqft" },
              new SelectListItem { Text = "22000 Sqft", Value = "22000 Sqft" },
    };
}
@if (true)
{
    <div class="checkout-tabs">
        <div class="row">            
            <div class="col-lg-12">
                <div class="card">
                    <h6 class="danger" style="background-color:red; color:white">@Html.ValidationMessage("CustomError")</h6>
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h4 class="mt-2 card-title">Add New HTS</h4>
                                        </div>                                        
                                    </div>
                                </div>
                                <form asp-action="Create" enctype="multipart/form-data">
                                    <div class="row">                                      
                                        <div class="col-md-3">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="Member.BeneficiaryTypeId"/>
                                            <input type="hidden" asp-for="Member.IsRefugee"/>
                                            <div class="form-group">
                                                <label class="control-label">District</label>
                                                <select required id="DistrictId" name="DistrictId" asp-items="ViewBag.DistrictId" class="form-control">
                                                    <option value=""> - - Select - -</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Tehsil</label>
                                                <select required id="TehsilId" name="TehsilId" asp-items="ViewBag.TehsilId" class="form-control">
                                                    <option value=""> - - Select - -</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Union Council</label>
                                                <select required id="UnionCouncilId" asp-items="ViewBag.UnionCouncilId" class="form-control">
                                                    <option value=""> - - Select - -</option>
                                                </select>
                                            </div>
                                        </div>    
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Village</label>
                                                <select required asp-for="Member.VillageId" asp-items="ViewBag.VillageId" class="form-control">
                                                    <option value=""> - - Select - -</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.Khasra" class="control-label"></label>
                                                <input asp-for="HTS.Khasra" class="form-control" />
                                                <span asp-validation-for="HTS.Khasra" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.Latitute" class="control-label"></label>
                                                <input asp-for="HTS.Latitute" class="form-control" type="number" min="-90.000000" max="90.000000" step="0.000001" />
                                                <span asp-validation-for="HTS.Latitute" class="text-danger"></span>
                                            </div>
                                        </div>                                       
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.Longitute" class="control-label"></label>
                                                <input asp-for="HTS.Longitute" class="form-control" type="number" min="-90.000000" max="90.000000" step="0.000001" />
                                                <span asp-validation-for="HTS.Longitute" class="text-danger"></span>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h4 class="mt-2 card-title">Beneficiary Information</h4>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                          <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Member.MemberName" class="control-label"></label>
                                                <input asp-for="Member.MemberName" class="form-control"/>
                                                <span asp-validation-for="Member.MemberName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Member.FatherName" class="control-label"></label>
                                                <input asp-for="Member.FatherName" class="form-control" />
                                                <span asp-validation-for="Member.FatherName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Member.CNIC" class="control-label"></label>
                                                <input asp-for="Member.CNIC" class="form-control inputBox input-mask" data-inputmask="'mask': '99999-9999999-9'" />
                                                <span asp-validation-for="Member.CNIC" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Member.CellNo" class="control-label"></label>
                                                <input asp-for="Member.CellNo" class="form-control inputBox input-mask" data-inputmask="'mask': '0399-9999999'" />
                                                <span asp-validation-for="Member.CellNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Member.Gender" class="control-label"></label>
                                                <select asp-for="Member.Gender" asp-items="@gender" class="form-control"></select>
                                                <span asp-validation-for="Member.Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Member.MaritalStatus" class="control-label"></label>
                                                <select asp-for="Member.MaritalStatus" asp-items="@MaritalStatus" class="form-control"></select>
                                                <span asp-validation-for="Member.MaritalStatus" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Member.Age" class="control-label"></label>
                                                <input asp-for="Member.Age" class="form-control"  />
                                                <span asp-validation-for="Member.Age" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="HTS.TunnelSize" class="control-label"></label>
                                                <select asp-for="HTS.TunnelSize" asp-items="@TunnelSize" class="form-control"></select>
                                                <span asp-validation-for="HTS.TunnelSize" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="HTS.TotalGrant" class="control-label"></label>
                                                <input asp-for="HTS.TotalGrant" class="form-control" />
                                                <span asp-validation-for="HTS.TotalGrant" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="HTS.IsSubmitDeposit" /> @Html.DisplayNameFor(model => model.HTS.IsSubmitDeposit)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="Member.IsAnyDisability" /> @Html.DisplayNameFor(model => model.Member.IsAnyDisability)
                                                </label>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h4 class="mt-2 card-title">Attachments</h4>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.CNICAttachment" class="control-label"></label>
                                                <input type="file" name="CNICAttachment" class="form-control" accept="application/pdf" required />
                                                <span asp-validation-for="HTS.CNICAttachment" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.AgricultureLandProofAttachment" class="control-label"></label>
                                                <input type="file" name="AgricultureLandProofAttachment" class="form-control" accept="application/pdf" required/>
                                                <span asp-validation-for="HTS.AgricultureLandProofAttachment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.ApplicationFormAttachment" class="control-label"></label>
                                                <input type="file" name="ApplicationFormAttachment" class="form-control" accept="application/pdf" required />
                                                <span asp-validation-for="HTS.ApplicationFormAttachment" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="HTS.TunnelSiteSuitabilityFormAttachment" class="control-label"></label>
                                                <input type="file" name="TunnelSiteSuitabilityFormAttachment" class="form-control" accept="application/pdf" required />
                                                <span asp-validation-for="HTS.TunnelSiteSuitabilityFormAttachment" class="text-danger"></span>
                                            </div>                                           
                                        </div>                                       
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, page not found</h4>
                        @*<div class="mt-5 text-center">
                                <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <!-- toastr plugin -->
    <script src="~/assets/libs/toastr/build/toastr.min.js"></script>
    <!-- form mask -->
    <script src="~/assets/libs/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- form mask init -->
    <script src="~/assets/js/pages/form-mask.init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {           
            $("#DistrictId").change(function () {
                $.get("/CommunityInstitutions/GetTehsils", { districtId: $("#DistrictId").val() }, function (data) {
                    $("#TehsilId").empty();
                    $("#UnionCouncilId").empty();
                    $("#Member_VillageId").empty();
                    $("#UnionCouncilId").append('<option>Select...</option>');
                    $("#Member_VillageId").append('<option>Select...</option>');
                    $("#TehsilId").append('<option>Select...</option>');
                    console.log(data);
                    $.each(data, function (index, row) {
                        console.log(row);
                        $("#TehsilId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
                return false;
            });
            $("#TehsilId").change(function () {
                $("#UnionCouncilId").empty();
                $.get("/CommunityInstitutions/GetUCs", { tehsilId: $("#TehsilId").val() }, function (data) {
                    $("#UnionCouncilId").empty();
                    $("#Member_VillageId").empty();
                    $("#UnionCouncilId").append('<option>Select...</option>');
                    $("#Member_VillageId").append('<option>Select...</option>');
                    console.log(data);
                    $.each(data, function (index, row) {
                        console.log(row);
                        $("#UnionCouncilId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
                return false;
            });
            $("#UnionCouncilId").change(function () {
                $.get("/CommunityInstitutions/GetVillages", { ucId: $("#UnionCouncilId").val() }, function (data) {
                    $("#Member_VillageId").empty();
                    $("#Member_VillageId").append('<option>Select...</option>');
                    console.log(data);
                    $.each(data, function (index, row) {
                        console.log(row);
                        $("#Member_VillageId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
                return false;
            });
        });
        function isAlphaOrParen(str) {
            return /^[a-zA-Z()]+$/.test(str);
        }
        function notificationme(message) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "100",
                "positionClass": "toast-bottom-right",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "show",
                "hideMethod": "hide"
            };
            toastr.info(message);
        }
    </script>
}
