@model IEnumerable<DAL.Models.Domain.Training.MemberTrainingDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunityInstituteMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberTraining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunityInstituteMember.Member.CNIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberTraining.MemberTrainingId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberTrainingDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberTrainingDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberTrainingDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
