@model DAL.Models.Domain.BSF.BSFPrivate

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BSFPrivate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeneficiaryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeneficiaryName)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NTN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NTN)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGrant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGrant)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPlanAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPlanAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FisibilityReportAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FisibilityReportAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractAwardAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractAwardAttachment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNICAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNICAttachment)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NTNAttachment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NTNAttachment)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessSMEName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessSMEName)
        </dd> *@
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationNTN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationNTN)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessSector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SitesupervisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitesupervisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SitesupervisorContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SitesupervisorContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralBusinessIdea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralBusinessIdea.GeneralBusinessIdeaName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BSFPrivateId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
