@model IEnumerable<DAL.Models.Domain.MasterSetup.EmployeeContract>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Constant.Constants

@{
    ViewData["Title"] = "Contract";
    ViewBag.pageTitle = "Employee";
    ViewBag.Title = "Contract";
    ViewBag.pTitle = "Contract";

    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<style>
    .modal-dialog {
        height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
    }

    .modal-content {
        height: 100%; /* = 100% of the .modal-dialog block */
    }

    #PdfModal {
        height: 100%;
    }
</style>
@if (AuthorizationService.AuthorizeAsync(User, Permissions.HR.Edit).Result.Succeeded)
{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-autoFill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <div class="checkout-tabs">
        <div class="row">
            <div class="col-lg-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-gen-ques-tab" data-toggle="pill" href="#v-pills-gen-ques" role="tab" aria-controls="v-pills-gen-ques" aria-selected="true">
                        <i class="bx bxs-grid-alt d-block check-nav-icon mt-4 mb-2"></i>
                        <p class="font-weight-bold mb-4">List of Employee Contracts</p>
                    </a>
                    @{
                        if (AuthorizationService.AuthorizeAsync(User, Permissions.HR.Create).Result.Succeeded)
                        {
                            <a class="nav-link" role="tab" asp-action="Create" asp-controller="EmployeeContracts" asp-route-id="@ViewBag.Id" aria-controls="v-pills-privacy" aria-selected="false">
                                <i class="bx bx-list-plus d-block check-nav-icon mt-4 mb-2"></i>
                                <p class="font-weight-bold mb-4">Add New Employee</p>
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel" aria-labelledby="v-pills-gen-ques-tab">
                                <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                    <h4 class="mt-2 card-title">List of Employee</h4>
                                </div>
                                <div class="table-responsive">
                                    <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Contract
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.StartDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.EndDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HREmployee)
                                                </th>
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.HR.Delete).Result.Succeeded)
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HREmployee.EmployeeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.StartDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EndDate)
                                                    </td>
                                                    <td>
                                                        <a data-toggle="modal" data-target="#myModal" onclick="createModal('@item.EmployeeContractPath')" class="btn btn-info btn-sm"><i class="bx bxs-file label-icon"></i> View</a>
                                                    </td>
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.HR.Delete).Result.Succeeded)
                                                    {
                                                        <td>
                                                            <a asp-action="Delete" asp-route-id="@item.EmployeeContractId">Delete</a>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                        <h4 class="text-uppercase">Sorry, Access denied!</h4>
                        <h6>Contact with IT Administrator</h6>
                        @*<div class="mt-5 text-center">
                    <a class="btn btn-primary waves-effect waves-light" href=@Url.Action("Index", "index")>Back to Dashboard</a>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-xl-6">
                    <div>
                        <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <embed id="pdfFile" src="" frameborder="0" width="100%" height="100%">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{   
    <script>
        function createModal(url) {
            $("#pdfFile").attr("src", url);
        }
    </script>
}
