@model IEnumerable<DAL.Models.Domain.ToolApp.ToolModule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ToolModuleName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@Html.DisplayFor(modelItem => item.ToolModuleName)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToolModuleName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToolModuleName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToolModuleName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
