@model DAL.Models.Domain.ToolApp.ToolAppPost.ToolControlInfoPost

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ToolControlInfoPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolControlId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolControlId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlLebel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlLebel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ToolControlInfoPostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
