@model DAL.Models.Domain.ToolApp.DropdownenuAccess

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DropdownenuAccess</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropdownMenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropdownMenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolModuleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DropdownenuAccessId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
